.opciones {
display: flex;
column-gap: 1rem;
margin: 1rem;
}

main {
	margin: 1rem .5rem;
}

main > section {
	margin: 2rem .3rem 2rem .3rem;
}

section > h3 {
	margin-bottom: 1rem;
	text-decoration: underline;
}

.form-section p {
	margin: 1rem .4rem;
}

.form-row {
	margin-top: .7rem;
	padding: .5rem 0;
	position: relative;
}

.form-input {
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 10px;
	margin-top: .5rem;
	padding: 5px;
	position: relative;
	width: 100%;
	height: 3rem;
	z-index: 1;
}

.form-input:focus {
	box-shadow: 0px 0px 10px rgba(92, 18, 161, 0.555);
	background-color: #fafafa;
}

.form-input-helper {
	position: absolute;
	padding: .5rem 1rem;
	opacity: 0;
	transition: .2s bottom, .2s opacity;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.form-input:focus + .form-input-helper,
.form-input:invalid + .form-input-helper {
	bottom: 75%;
	line-height: 1;
	opacity: 1;
	padding: .5rem 1rem;
}

/*
.form-input:invalid {
	border-left: 10px solid #f00;
}

.form-input:invalid + .form-input-helper::after {
	color: #f00;
	content: "X";
	font-size: 1rem;
	line-height: 1;
	padding-left: 1rem;
}
*/

#contact-by-phone {
	margin-top: 1rem;
}

.form-subrow {
	margin: .5rem 0rem .5rem 0rem;
}

.buttons-row {
	display: flex;
	justify-content: space-around;
}

form button {
	width: 9rem;
	height: 2rem;
	border-radius: 10px;
}

.contact-us-subtitle {
	margin: .3rem 0rem 1rem 0rem;
}

.contact-us-nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: .5rem;
}

.contact-us-nav a {
	margin-bottom: .3rem;
}

.map-section {
	display: flex;
	flex-direction: column;
}

.map-address {
	margin-bottom: 1rem;
}

#map-iframe {
	margin: auto;
}

hr {
	margin: 1rem .3rem .3rem 1rem;
	height: 3px;
}