h1 {
	margin-bottom: 1.5rem;
	padding-top: 2rem;
	text-align: center;
}

h3 {
	text-align: center;
	margin-bottom: 2rem;
	font-family: 'Roboto Flex', 'sans-serif';
	letter-spacing: 3px;
}

.section-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main ul {
    list-style: none;
	/*border: 2px solid red;*/
	display: flex;
	flex-direction: column;
}

main li{
	align-self: center;
	width: 75%;
	/*border: 2px solid green;*/
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
}

form{
	width: 70%;
}


.form-row {
	margin-top: .7rem;
	padding: .5rem 0;
	position: relative;
}

.form-input {
	background-color: rgba(255, 255, 255, .3);
	border: 1px solid rgba(162, 17, 190, 0.9);
	border-radius: 10px;
	margin-top: .5rem;
	padding: 1rem;
	position: relative;
	width: 100%;
	height: 3rem;
	z-index: 1;
	font-family: 'Roboto Flex', 'sans-serif';
	letter-spacing: 3px;
	
}

.form-input:focus {
	box-shadow: 0px 0px 10px rgba(138, 23, 245, 0.555);
	background-color: #fafafa;
}

.form-input-helper {
	position: absolute;
	padding: .5rem 1rem;
	opacity: 0;
	transition: .2s bottom, .2s opacity;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.form-input:focus + .form-input-helper,
.form-input:invalid + .form-input-helper {
	bottom: 75%;
	line-height: 1;
	opacity: 1;
	padding: .5rem 1rem;
}

.phone {
	margin-top: 0rem;
	text-align: center;
}

#contact-by-phone {
	position: relative;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
	-webkit-appearance: none;
	margin: 0;
}

.opciones {
	display: flex;
	justify-content: center;
	column-gap: 1rem;
	margin-top: 1.5rem;
}


.buttons-row {
	display: flex;
	justify-content: space-evenly;
	margin-top: 3rem;
	
}

form button {
	width: 12rem;
	height: 3rem;
	border-radius: 5px;
	background-color: rgb(106, 9, 125,.6);
	color: #fafafa;
	border: none;
	text-transform: uppercase; 
    letter-spacing: 3px;
}

form button:hover{
	transform: scale(1.1,1.1);
	background-color: rgb(106, 9, 125);
}
	

.map-section {
	display: flex;
	flex-direction: column;
}

.map-section h3 {
	margin: 1rem;
	text-align: center;
}

.map-section p {
	text-align: center;
	margin-bottom: 1rem;
}

#map-iframe {
	margin: auto;
}

hr {
	margin: 2rem .3rem .3rem 1rem;
	height: 3px;
}